# exclude changes done by make process
Makefile
Makefile.chatcleaner
Makefile.pokerth_db
Makefile.pokerth_game
Makefile.pokerth_lib
Makefile.pokerth_protocol
Makefile.pokerth_server
Makefile.pokerth_dbofficial
Makefile.pokerth_qml-client
bin/
moc_*
*.o
.qmake.stash
/chatcleaner
lib/
mocs/
obj/
/pokerth
src/third_party/protobuf/*
qrc_pokerth.cpp
qrc_qml.cpp
uics/
make.sh
gitpush_serverstuff_stable
.vscode/
.project
.classpath
